@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}
#nav {
  max-height: 89px;
  margin-top: 0;
}
.hover {
  font-weight: bold;
}

.card {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
/* ----------------------------------------------------calendar styles-------------------------- */
.react-calendar__tile {
  border-radius: 12px;
  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); */
}
.react-calendar__navigation__label {
  border-radius: 12px;
  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); */
}
.react-calendar__navigation__arrow {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
}
.react-calendar {
  background-color: #bf4a49;
}
.react-calendar__month-view__days__day--weekend {
  color: #4b4b4b;
}
/* ----------------------------------------------------calendar styles-------------------------- */
.container {
  display: flex;
  align-items: center;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
  padding: 0.5rem;
  margin: 1rem 0;
  /* border-radius: 12px; */
  /* background-color: #4b4b4b; */
}
.item__container {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  /* border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); */
}

.sp__around {
  justify-content: space-around;
}

.sp__between {
  justify-content: space-between;
}
/* ----------------------------------------------------------extras------------------------- */
.item h2 {
  /* name */
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}
.item__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.item__detail {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

@media (min-width: 580px) {
  .item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .item__description h2 {
    font-size: 1.25rem;
  }

  .item__detail {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
