@import url("https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap");

.nav a {
  text-decoration: none;
  color: "red";
}

.home__link {
  font-family: "Macondo Swash Caps", cursive;
}
