@import url("https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap");

.nav a {
  justify-content: center;
  text-decoration: none;
  color: #00b786;
}

.home__link {
  font-family: "Macondo Swash Caps", cursive;
}
